<div class="container">
    <div class="row">
        <div class="col-md-3">
            {{ include ( (template is defined) ? template : 'IBWBizdevBundle:Utils:misc_left_nav.html.twig',
            {'current': current}
            ) }}
        </div>
        <div class="col-md-9">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
