<ul class="nav nav-pills nav-stacked">
	<li {% if current == "costs" %} class="active" {% endif %}><a href="{{ path('cost') }}">Costs</a></li>
	<li {% if current == "fixed" %} class="active" {% endif %}><a href="{{ path('cost_fixed_report') }}">Fixed costs report</a></li>
</ul>