<ul class="nav nav-pills nav-stacked">
	<li {% if current == "1" %} class="active" {% endif %}><a href="{{ path('indicator_edit',
        {'id':entity.id}) }}">1. Indicator</a></li>
	<li {% if current == "2" %} class="active" {% endif %}><a href="{{ path('indicator_widget_params',
        {'id': entity.id}) }}">2.
            Widget</a></li>
</ul>