<ul class="nav nav-pills nav-stacked">
  <li {% if current == "currency" %} class="active" {% endif %}><a href="{{ path("currency") }}">Currency</a></li>
  <li {% if current == "bizfigure" %} class="active" {% endif %}><a href="{{ path('bizfigure') }}">Application values</a></li>
  <li {% if current == "costcategory" %} class="active" {% endif %}><a href="{{ path('cost_category') }}">Cost categories</a></li>
</ul>