<ul class="nav nav-pills nav-stacked">
	<li {% if current == "jobs" %} class="active" {% endif %}><a href="{{ path('position') }}">Positions</a></li>
	<li {% if current == "employees" %} class="active" {% endif %}><a href="{{ path('employee') }}">Employees</a></li>
</ul>