<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ path('homepage') }}">BizDev</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        {# <li class="active"><a href="#">Costs</a></li> #}
        <li><a href="{{ path('department') }}">Departments</a></li>
        <li><a href="{{ path('goal') }}">Goals</a></li>
        <li><a href="{{ path('indicator') }}">Indicators</a></li>
        <li><a href="{{ path('cost') }}">Costs</a></li>
        <li><a href="{{ path('position') }}">People</a></li>
        <li><a href="{{ path('product') }}">Products</a></li>
        <li><a href="{{ path('currency') }}">Miscellaneous</a></li>
        <li><a href="{{ path('reports_index') }}">Reports</a></li>
        {# <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
            </ul>
        </li> #}
    </ul>
    {# <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form> #}
    <ul class="nav navbar-nav navbar-right">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome,
                    {{ app.user.firstName }}! <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('sonata_user_profile_edit') }}">My Profile</a></li>
                    {#<li><a href="#">Another action</a></li>#}
                    {#<li><a href="#">Something else here</a></li>#}
                    <li class="divider"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                </ul>
            </li>
        {% else %}
            <li>
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            </li>
            <li>
                <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
            </li>
        {% endif %}

    </ul>
    </div><!-- /.navbar-collapse -->
</nav>