<ul class="nav nav-pills nav-stacked">
	<li {% if current == "profile" %} class="active" {% endif %}><a href="{{ path('sonata_user_profile_show')
        }}">Profile</a></li>
	<li {% if current == "auth" %} class="active" {% endif %}><a href="{{ path
        ('sonata_user_profile_edit_authentication') }}">Authentication</a></li>
</ul>