{% extends '::base.html.twig' %}

{% block body -%}
    {% embed "::base-with-left-nav.html.twig" with {'current': 'auth',
    'template':'IBWBizdevBundle:Utils:user_left_nav.html.twig'} %}

        {% block body %}
            <h1>Change password</h1>
            {{ form_errors(form) }}

            <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form-horizontal">
                {{ bootstrap_set_style('horizontal') }}

                {{ form_widget(form) }}
                <div>
                    <input type="submit" class="btn btn-primary" value="Change password" />
                </div>

                {{ bootstrap_set_style('') }}
            </form>



        {% endblock %}
    {% endembed %}
{% endblock %}
