{% extends '::base.html.twig' %}

{% block body -%}
	
	<h1>Welcome, {{ user.firstName }}!</h1>
	
	<p>
		Your account is confirmed now:
		<dl>
			<dt>email</dt>
			<dd>{{ user.email }}</dd>
			<dt>Full name</dt>
			<dd>{{ user.firstName }} {{ user.lastName }}</dd>
		</dl>
	</p>
	
{% endblock %}