{% extends '::base.html.twig' %}

{% block body -%}
    {% embed "::base-with-left-nav.html.twig" with {'current': 'profile',
    'template':'IBWBizdevBundle:Utils:user_left_nav.html.twig'} %}

        {% block body %}
            <h1>Edit profile</h1>
            {{ form_errors(form) }}

            {% form_theme form _self %}

                <form action="{{ path('sonata_user_profile_edit') }}" method="POST" class="form-horizontal">
                {{ bootstrap_set_style('horizontal') }}
                {{ form_row(form.gender) }}
                {{ form_row(form.firstname) }}
                {{ form_row(form.lastname) }}
                {{ form_row(form.website) }}
                {{ form_row(form.dateOfBirth) }}
                {{ form_row(form.biography) }}
                {{ form_row(form.locale) }}
                {{ form_row(form.timezone) }}
                {{ form_row(form.phone) }}

                {{ form_rest(form) }}
                <div>
                    <input type="submit" name="submit"  class="btn btn-primary" value="{{ 'sonata_user_submit'|trans({}, 'SonataUserBundle') }}" />
                </div>
                {{ bootstrap_set_style('') }}
            </form>
        {% endblock %}
    {% endembed %}
{% endblock %}
