{% extends '::base.html.twig' %}

{% block body -%}
    {% embed "::base-with-left-nav.html.twig" with {'current': 'auth',
    'template':'IBWBizdevBundle:Utils:user_left_nav.html.twig'} %}

        {% block body %}
            <h1>Edit authentication info</h1>
            {{ form_errors(form) }}
            <div class="row">
                <div class="span6">
                    <form action="{{ path('sonata_user_profile_edit_authentication') }}" method="POST" class="form-horizontal">
                    {{ bootstrap_set_style('horizontal') }}

                    {{ form_rest(form) }}
                    <div>
                        <input type="submit" name="submit"  class="btn btn-primary" value="{{ 'sonata_user_submit'|trans({}, 'SonataUserBundle') }}" />
                    </div>
                    {{ bootstrap_set_style('') }}
                    </form>
                </div>
                <div class="span6">
                    <a href="{{ path('fos_user_change_password') }}" class="btn btn-primary"><i class="icon-lock icon-white"></i>&nbsp;{{ 'sonata_change_password_link'|trans({}, 'SonataUserBundle') }}</a>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
