{% extends '::base.html.twig' %}

{% block body -%}
    {% if error %}
    	<div>{{ error|trans({}, 'FOSUserBundle') }}</div>
	{% endif %}

	<form action="{{ path("fos_user_security_check") }}" method="post" role="form">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

		<div class="form-group">
		    <label for="username">Email:</label>
	    	<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" />
		</div>
		<div class="form-group">
			<label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
	    	<input type="password" id="password" name="_password" required="required" class="form-control" />
		</div>
		<div class="checkbox">
			<label for="remember_me">
			  	<input type="checkbox" id="remember_me" name="_remember_me" value="on"> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
			</label>
		</div>
		{# <button type="submit" class="btn btn-default">Submit</button> #}

	    <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
	</form>
{% endblock %}