{% extends '::base.html.twig' %}

{% block body -%}


	<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register" class="form-horizontal">
		{{ bootstrap_set_style('horizontal') }}
		{{ form_errors(form, { 'global_errors': true }) }}
	    {{ form_row(form.email) }}
	    {{ form_row(form.plainPassword.first) }}
	    {{ form_row(form.plainPassword.second) }}
	    {{ form_row(form.firstName) }}
	    {{ form_row(form.lastName) }}
	    {{ form_rest(form) }}
	    <div>
	        <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
	    </div>
	    {{ bootstrap_set_style('') }}
	</form>

{% endblock %}