{% extends '::base.html.twig' %}

{% block body -%}
    {% embed "::base-with-left-nav.html.twig" with {'current': 'profile',
    'template':'IBWBizdevBundle:Utils:user_left_nav.html.twig'} %}

        {% block body %}

            <div class="span12">
                <h3>{{ app.user.firstname }} {{ app.user.lastname }}</h3>
                <h6>Email: {{ app.user.email }}</h6>
                <h6>Gender: {{ app.user.gender }}</h6>
                <h6>Website: {{ app.user.website }}</h6>
                <h6>Date of Birth: {{ app.user.dateOfBirth|date('M d, Y') }}</h6>
                <h6>Bio: {{ app.user.biography }}</h6>
                <h6>Locale: {{ app.user.locale }}</h6>
                <h6>Timezone: {{ app.user.timezone }}</h6>
                <h6>Phone: {{ app.user.phone }}</h6>
            </div>

            <a class="btn btn-primary" href="{{ path('sonata_user_profile_edit') }}">Edit</a>

        {% endblock %}
    {% endembed %}
{% endblock %}
