{% extends '::base.html.twig' %}

{% block body -%}
{% embed "::base-with-left-nav.html.twig" with {'current': 'employees', 'template':'IBWBizdevBundle:Utils:people_left_nav.html.twig'} %}
    {% block body %}
    <h1>Employee list</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Department</th>
                    <th>Salary net (total cost)</th>
                    <th>Is Productive ?</th>
                    <th>Capacity</th>
                    <th>Is disabled ?</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('employee_show', { 'id': entity.id }) }}">{{ entity.firstName }} {{ entity.lastName }}</a></td>
                    <td>{{ entity.position }}</td>
                    <td>{{ entity.department }}</td>
                    <td>
                        {% if (entity.salary is defined) %} 
                            {{ entity.salary.net }} ({{ entity.salary.totalCost }}) {{ entity.salary.currency }}
                        {% endif %}
                    </td>
                    <td><span class="glyphicon glyphicon-{{ (entity.isProductive) ? "ok" : "minus" }}"></span></td>
                    <td>{{ entity.capacity }}</td>
                    <td><span class="glyphicon glyphicon-{{ (entity.isDisabled) ? "ok" : "minus" }}"></span></td>
                    <td>
                        <p>    
                            <a type="button" class="btn btn-default btn-xs" href="{{ path('employee_show', { 'id': entity.id }) }}">show</a>    
                            <a type="button" class="btn btn-default btn-xs" href="{{ path('employee_edit', { 'id': entity.id }) }}">edit</a>
                        </p>                    
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a class="btn btn-primary" href="{{ path('employee_new') }}">
        Create a new entry
    </a>
    {% endblock %}
{% endembed %}
{% endblock %}
