{% extends '::base.html.twig' %}

{% block body -%}
{% embed "::base-with-left-nav.html.twig" with {'current': 'employees', 'template':'IBWBizdevBundle:Utils:people_left_nav.html.twig'} %}
    {% block body %}
    <h1>Employee creation</h1>

    {{ form_start(form, { 'style': 'horizontal' }) }}
    	{{ form_row(form.firstName) }}
    	{{ form_row(form.lastName) }}
        {{ form_row(form.position) }}
    	{{ form_row(form.department) }}
        {{ form_row(form.isProductive, { 'align_with_widget': true }) }}
    	{{ form_row(form.capacity) }}
        {{ form_row(form.isDisabled, { 'align_with_widget': true }) }}
        {{ form_row(form.salary.net) }}
        {{ form_row(form.salary.brut) }}
        {{ form_row(form.salary.totalCost) }}
    	{{ form_row(form.salary.currency) }}
    {{ form_end(form) }}

    <p>
    	<a type="button" class="btn btn-default btn-xs" href="{{ path('employee') }}">Back to the list</a>
    </p>
    {% endblock %}
{% endembed %}
{% endblock %}
