{% extends '::base.html.twig' %}

{% block body -%}
{% embed "::base-with-left-nav.html.twig" with {'current': 'employees', 'template':'IBWBizdevBundle:Utils:people_left_nav.html.twig'} %}
    {% block body %}
    <h1>Employee</h1>

    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>{{ entity.id }}</dd>
        <dt>First name</dt>
        <dd>{{ entity.firstName }}</dd>
        <dt>Last name</dt>
        <dd>{{ entity.lastName }}</dd>
        <dt>Department</dt>
        <dd><a href="{{ path('department_show', {'id':entity.department.id}) }}">{{ entity.department }}</a></dd>
        <dt>Has tax exempt ?</dt>
        <dd><span class="glyphicon glyphicon-{{ (entity.hasTaxExempt) ? "ok" : "minus" }}"></span></dd>
        <dt>Is disabled ?</dt>
        <dd><span class="glyphicon glyphicon-{{ (entity.isDisabled) ? "ok" : "minus" }}"></span></dd>
        <dt>Created at</dt>
        <dd>{{ entity.createdAt|date('Y-m-d H:i:s') }}</dd>
        <dt>Updated at</dt>
        <dd>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</dd>
    </dl>
    Salary:
    <dl class="dl-horizontal">
        <dt>Net</dt>
        <dd>{{ entity.salary.net }} {{ entity.salary.currency }}</dd>
        <dt>Brut</dt>
        <dd>{{ entity.salary.brut }} {{ entity.salary.currency }}</dd>
        <dt>Total cost with salary</dt>
        <dd>{{ entity.salary.totalCost }} {{ entity.salary.currency }}</dd>
    </dl>

    {% if entity.user is not null %}
        User:
        <dl class="dl-horizontal">
            <dt>Email</dt>
            <dd>{{ entity.user.email }}</dd>
            <dt>Name</dt>
            <dd>{{ entity.user.getFullName() }}</dd>
        </dl>
    {% endif %}

    <p>
        <a type="button" class="btn btn-default btn-xs" href="{{ path('employee') }}">Back to the list</a>
        <a type="button" class="btn btn-default btn-xs" href="{{ path('employee_edit', { 'id': entity.id }) }}">Edit</a>
        {{ form(delete_form) }}
    </p>
    {% endblock %}
{% endembed %}
{% endblock %}
