<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><a href="{{ path('department_show', {'id': department.id}) }}">{{ department.name
            }}</a></h3>
    </div>
    <div class="panel-body">
        <h4 class="{{ department.goals|length == 0 ? "text-danger" : "" }}">Goals</h4>
        {% for goal in department.goals %}
            <p>{{ goal.mission }}</p>
        {% endfor %}
    </div>
    <table class="table table-striped">
        <tr>
            <td class="text-right">Manager</td>
            <td>{{ department.getManager() }}</td>
        </tr>
        <tr>
            <td class="text-right"># people</td>
            <td>
                {{ department.employees|length }}
            </td>
        </tr>
        <tr>
            <td class="text-right">Sub-departments</td>
            <td>
                {{ department.subdepartments|join(', ') }}
            </td>
        </tr>
    </table>
</div>