{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Department edit</h1>

    {{ form(edit_form) }}

        <p>
    <a type="button" class="btn btn-default btn-xs" href="{{ path('department') }}">Back to the list</a>
            {{ form(delete_form) }}
    </p>{% endblock %}
