{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Department list</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Manager</th>
                    <th>Parent Department</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('department_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                    <td>{{ entity.manager }}</td>
                    <td>{{ entity.parentDepartment }}</td>
                    <td><p>    <a type="button" class="btn btn-default btn-xs" href="{{ path('department_show', { 'id': entity.id }) }}">show</a>    <a type="button" class="btn btn-default btn-xs" href="{{ path('department_edit', { 'id': entity.id }) }}">edit</a></p>                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

        <a class="btn btn-primary" href="{{ path('department_new') }}">
        Create a new entry
    </a>
    {% endblock %}
