{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Department creation</h1>

    {{ form(form) }}

        <p>
    <a type="button" class="btn btn-default btn-xs" href="{{ path('department') }}">Back to the list</a>
        </p>{% endblock %}
