{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Department</h1>

    <dl class="dl-horizontal">
        <dt>Id</dt>
            <dd>{{ entity.id }}</dd>
        <dt>Name</dt>
            <dd>{{ entity.name }}</dd>
        <dt>Manager</dt>
            <dd>{{ entity.manager }}</dd>
        <dt>Createdat</dt>
            <dd>{{ entity.createdAt|date('Y-m-d H:i:s') }}</dd>
        <dt>Updatedat</dt>
            <dd>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</dd>
    </dl>

    <h2>Goals</h2>
    {% if entity.goals|length == 0 %}
        {% include('IBWBizdevBundle:Goal:_alert_no_goals_with_create_link.html.twig') %}
    {% else %}
        {% for goal in entity.goals %}
            {{ include('IBWBizdevBundle:Goal:_item_list_well.html.twig', {'goal': goal}) }}
        {% endfor %}
    {% endif %}

    <h2>People</h2>
    {% for employee in entity.employees %}
        {{ include('IBWBizdevBundle:Employee:_item_list_button.html.twig', {'employee': employee}) }}
    {% endfor %}

    <hr>
    <p>
    <a type="button" class="btn btn-default btn-xs" href="{{ path('department') }}">Back to the list</a>
        <a type="button" class="btn btn-default btn-xs" href="{{ path('department_edit', { 'id': entity.id }) }}">Edit</a>
            {{ form(delete_form) }}
    </p>{% endblock %}
