{% extends '::base.html.twig' %}

{% block body -%}
{% embed "::base-with-left-nav.html.twig" with {'current': 'jobs', 'template':'IBWBizdevBundle:Utils:people_left_nav.html.twig'} %}
    {% block body %}
    <h1>Position edit</h1>

    {{ form_start(edit_form, { 'style': 'horizontal' }) }}
    	{{ form_row(edit_form.name) }}
    {{ form_end(edit_form) }}

    <p>
    	<a type="button" class="btn btn-default btn-xs" href="{{ path('position') }}">Back to the list</a>
        {{ form(delete_form) }}
    </p>
    {% endblock %}
{% endembed %}
{% endblock %}
