{% extends '::base.html.twig' %}

{% block body -%}
{% embed "::base-with-left-nav.html.twig" with {'current': 'jobs', 'template':'IBWBizdevBundle:Utils:people_left_nav.html.twig'} %}
    {% block body %}
        <h1>Position list</h1>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Department</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('position_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                        <td>{{ entity.department }}</td>
                        <td>
                            <p>    
                                <a type="button" class="btn btn-default btn-xs" href="{{ path('position_show', { 'id': entity.id }) }}">show</a>    
                                <a type="button" class="btn btn-default btn-xs" href="{{ path('position_edit', { 'id': entity.id }) }}">edit</a>
                            </p>                    
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <a class="btn btn-primary" href="{{ path('position_new') }}">
            Create a new entry
        </a>
    {% endblock %}
{% endembed %}
{% endblock %}
