{% extends '::base.html.twig' %}

{% block body -%}
{% embed "::base-with-left-nav.html.twig" with {'current': 'jobs', 'template':'IBWBizdevBundle:Utils:people_left_nav.html.twig'} %}
    {% block body %}
    <h1>Position</h1>

    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>{{ entity.id }}</dd>
        <dt>Name</dt>
        <dd>{{ entity.name }}</dd>
        <dt>Created at</dt>
        <dd>{{ entity.createdAt|date('Y-m-d H:i:s') }}</dd>
        <dt>Updated at</dt>
        <dd>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</dd>
    </dl>

    <h2>Fixed costs for this position</h2>
    <div class="table-responsive">
        {% set percentTotal = 0 %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                    <th>Shelf life</th>
                </tr>
            </thead>
            <tbody>
            {% for cost in entity.costs %}
                <tr>
                    <td><a href="{{ path('cost_show', {'id':cost.id}) }}">{{ cost.name }}</a></td>
                    <td>{{ cost.costValue }} {{ cost.currency }}</td>
                    <td>{{ cost.shelfLife }} luni</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <h2>Salary costs for this position</h2>
    <div class="table-responsive">
        {% set totalCosts = 0 %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Employee</th>
                <th>Salary Cost</th>
            </tr>
            </thead>
            <tbody>
            {% for employee in employees %}
                <tr>
                    <td><a href="{{ path('employee_show', {'id':employee.id}) }}">{{ employee }}</a></td>
                    <td>{{ employee.salary.totalCost|number_format(2) }}</td>
                    {% set totalCosts = totalCosts + employee.salary.totalCost %}
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <th>Total salary costs</th>
                <th>{{ totalCosts|number_format(2) }}</th>
            </tfoot>
            <tfoot>
                <th>Average salary cost</th>
                <th>{{ avgSalaryCost|number_format(2) }}</th>
            </tfoot>
        </table>
    </div>

    <p>
        <a type="button" class="btn btn-default btn-xs" href="{{ path('position') }}">Back to the list</a>
        <a type="button" class="btn btn-default btn-xs" href="{{ path('position_edit', { 'id': entity.id }) }}">Edit</a>
        {{ form(delete_form) }}
    </p>
    {% endblock %}
{% endembed %}
{% endblock %}
