<p>
{%- for action in record_actions %}
    <a type="button" class="btn btn-default btn-xs" href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ action ~ "', { 'id': entity.id }) }}" }}">{{ action }}</a>
{%- endfor %}
</p>