<p>
    <a type="button" class="btn btn-default btn-xs" href="{{ "{{ path('" ~ route_name_prefix ~ "') }}" }}">Back to the list</a>
    {% if ('edit' in actions) and (not hide_edit) %}
    <a type="button" class="btn btn-default btn-xs" href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': entity.id }) }}" }}">Edit</a>
    {% endif %}
    {% if ('delete' in actions) and (not hide_delete) %}
    {{ '{{ form(delete_form) }}' }}
    {% endif %}
</p>